/*
Dark Blue: #12232E

Lighter Blue: #007CC7

Lightest Blue: #4DA8DA

Shadow of Dark Blue: #203647

Shadow of Light Blue: #EEFBFB
*/

body{
    color: #EEFBFB;
    background-color: #12232E;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-wrap: wrap;
}

header,footer{
    width: 100%;
}

/*HEADER*/

header{
    align-self: flex-start;
    position: sticky;
    background-color: #203647;
    height: 100px;
}

header #logo{
    margin-top: 10px;
    margin-left: 10px;
    float: left;
}

header h1{
    float: left;
    text-transform: uppercase;
    text
}

/*MAIN*/

main{
    width: 80%;
    font-size: 14pt;
    min-height: 100%;
}

/*FOOTER*/

footer{
    background-color:#203647 ;
    height:fit-content;
    align-self: flex-end;
}   

   /*Clases*/

        .fcontainer{
            width: 700px;
            height:fit-content;
            margin: auto;
            padding-top: 5px;
            margin-bottom: 10px;
            
        }
        .footer-text{
            float: left;
            width: 400px;
            padding: 10px;
            height: 175px;
            display: block;
            

        }

        .footer-text p{
            margin-top: -10px;
            float:left;
            text-align: justify;
            font-size: 11pt;
            line-height: 16pt;
            
        }

        .footer-text q{
            margin-left: 220px;
            
        }
        .foot-redes{
            float: left;
            width: 100px;
            height: 175px;
            display: block;
            margin-left: 100px;
        }

        ul {
           list-style: none; 
        }

        ul a{
            color: #EEFBFB;
        }

        .foot-redes li{
            margin-bottom: 20px;
            margin-left: -20px;
        }



