/*
Dark Blue: #12232E

Lighter Blue: #007CC7

Lightest Blue: #4DA8DA

Shadow of Dark Blue: #203647

Shadow of Light Blue: #EEFBFB
*/

/*Etiquetas*/
html,body{
    height: 100%;
}

body{
    color: #EEFBFB;
    background-color: #12232E;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header,footer{
    
    width: 100%;
}

/*MAIN*/

main{
    width: 80%;
    font-size: 14pt;
    min-height: 100%;
}

/*FOOTER*/

 

footer{
    position:absolute;
    width: 100%;
    background-color:#203647 ;
    left: 0;
    height: 200px;
    min-width: fit-content;
}   

   /*Clases*/

        .fcontainer{
        
            width: 1000px;
            margin: auto;
            position: relative;
            
        }
        .footer-text{
            width: 400px;
            margin-left: 100px;

        }

        .footer-text p{
            margin-top: -10px;
            float:left;
            text-align: justify;
            font-size: 11pt;
            line-height: 16pt;
        }

        .footer-text q{
            margin-left: 220px;
            
        }
        .foot-redes{
            position: absolute;
            left: 700px;
            width: 300px;
            top: -20px;
        }

        ul {
           list-style: none; 
        }

        ul a{
            color: #EEFBFB;
        }

        .foot-redes li{
            margin-bottom: 20px;
            margin-left: -20px;
        }



